a.navbar-brand img {
	margin-top: -8px;
}

html {
	-webkit-transform: translate3d(0,0,0);
}

body {
	font-family: 'century-gothic', sans-serif;
	margin-top: 20px;
	padding-top: 0;
}

ul.nav {
	float: right;
}

.nav>li>a {
	color: white;
}

.nav>li>a:hover {
	background: transparent;
}

.page-header {
	border: 0;
	background: rgb(60, 60, 60);
	padding-bottom: 0;
}

.header {
	margin-top: -120px;
}

.header .row {
	background-image: url('../img/flying-parrot.png');
	background-position: 150% 0;
	background-repeat: no-repeat;	
}

.header .header-content {
	padding-top: 200px;
}

.header h1 {
	font-size: 70px;
	margin-bottom: 30px;
	color: #eee;
}

.header p {
	font-size: 24px;
	margin-bottom: 30px;
	color: #bcbcbc;
}

.navbar-collapse .glyphicon {
	padding-right: 5px;
}

.carousel .item {
	background-color: #58a9da;
}

.carousel-inner {
	border-bottom: 6px solid #58a9da;
}

.container.download {
	text-align: center;
	margin-bottom: 100px;
}

.container.download button {
	margin: 10px;
}

.btn-xlg {
	padding: 16px 26px;
	font-size: 28px;
	line-height: 1.33;
	border-radius: 10px;
}

.header .btn-xlg {
	margin-right: 20px;
}

.featurette .img-circle {
	margin-left: 35%;
	margin-top: 30%;
}